header {
  background:#fff;
  height: 200px;
}

body {
background:#1010;
margin-left: 123px;
margin-top: 420px;
}

h1 {
font-family:monospace;
}

h2 {
  font-family: sans-serif;
  color: #fff;
  letter-spacing: 2.4px;
}

h3 {
  font-family: sans-serif;
  text-align: left;
  color: #000;
  letter-spacing: 1.1px;
}

li{
  font-family: sans-serif;
  background-color: #1111;
  list-style-type: none;
  margin-left: 10px;
  text-align: center;
  height: 40px;
  width: 100px;
}

div {
  background-color: #1111;
  margin-top: 10px;
  height: 200px;
  width: 300px;
}
